{% if site.disqus-identifier %}
<div class="mt-5">
<div id="disqus_thread"></div>
<script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus-identifier }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% else %}
{% if site.fb-comment %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>
<div class="fb-comments mx-auto" data-width="100%" data-href="{{ page.url | replace:'index.html','' | absolute_url }}" data-width="" data-numposts="5"></div>
{% endif %}
{% endif %}