  <nav class="bg-light border-bottom px-5 py-3">

    <div class="w-75 mx-auto">

      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <a href="{{ site.website }}">
              <img src="{{ site.logo }}" alt="{{ site.name }}" class="logo" alt="Logo">
            </a>
            <a href="{{ site.url }}">
              <span class="text-muted mx-3">
                {% if site.heading %}{{ site.heading }}{% else %} Changelog {% endif %}
              </span>
            </a>
          </div>
        </div>

        <div class="col-md-6 ml-auto  d-flex align-items-center justify-content-end">
          {% if site.github %}
          {% assign github = site.github | split: "/" %}
          {% if site.watch-badge %}
          <div class="inline-block mt-3 mt-md-0 d-flex align-items-center">
            <iframe src="https://ghbtns.com/github-btn.html?user={{ github[0] }}&repo={{ github[1] }}&type=watch&v=2"
              frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
          </div>
          {% endif %}
          {% if site.star-badge %}
          <div class="inline-block  mt-3 mt-md-0 d-flex align-items-center">
            <iframe src="https://ghbtns.com/github-btn.html?user={{ github[0] }}&repo={{ github[1] }}&type=star&v=2"
              frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
          </div>
          {% endif %}
          {% endif %}
          {% if site.rss-feed-icon %}
          <a href="{{ site.baseurl }}/feed.xml"
            class="inline-block  mt-3 mt-md-0 text-orange d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22" fill="none"
              stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-rss">
              <path d="M4 11a9 9 0 0 1 9 9"></path>
              <path d="M4 4a16 16 0 0 1 16 16"></path>
              <circle cx="5" cy="19" r="1"></circle>
            </svg>
          </a>
          {% endif %}
        </div>
      </div>

    </div>
  </nav>