$primary-font: 'Source Sans Pro', sans-serif;
$primary-color: #0775F8;
$text-color-primary: #48586b;
$border-color: #dae1e7;
$bg-light: #f1f5f8;
$blue: #0775F8;
$purple: #6D75F1;
$green: #00CECE;
$red: #F7444E;
$orange: #F27013;

$tag-colors: ("blue": $blue,
    "purple": $purple,
    "green": $green,
    "red": $red,
    "orange": $orange);